.container >* {
      border: 3px solid gold;
      background-color: bisque;
      padding: 30px;
    }

.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header header header header"
    "navbar main main sidebar"
    "navbar main main advertize"
    "footer footer footer footer";
}

header{
    grid-area: header;
}
nav{
    grid-area: navbar;
}
main{
    grid-area: main;
}
aside #sidebar{
    grid-area: sidebar;
}
aside #advertize{
    grid-area: sidebar;
}
footer{
    grid-area: footer;
}